[submodule "fuzzing/projectFiles/1_sqlite"]
	path = fuzzing/projectFiles/1_sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "fuzzing/projectFiles/3_yaml-cpp"]
	path = fuzzing/projectFiles/3_yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "fuzzing/projectFiles/5_libpostal"]
	path = fuzzing/projectFiles/5_libpostal
	url = https://github.com/openvenues/libpostal
[submodule "fuzzing/projectFiles/7_TheAlgorithmsC"]
	path = fuzzing/projectFiles/7_TheAlgorithmsC
	url = https://github.com/TheAlgorithms/C.git
[submodule "fuzzing/projectFiles/9_iostream"]
	path = fuzzing/projectFiles/9_iostream
	url = https://github.com/fuboat/gcc_fork.git
[submodule "fuzzing/projectFiles/2_libpng"]
	path = fuzzing/projectFiles/2_libpng
	url = https://android.googlesource.com/platform/external/libpng
[submodule "fuzzing/projectFiles/4_libmpeg2"]
	path = fuzzing/projectFiles/4_libmpeg2
	url = https://android.googlesource.com/platform/external/libmpeg2
[submodule "fuzzing/projectFiles/6_cJSON"]
	path = fuzzing/projectFiles/6_cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "fuzzing/projectFiles/8_spdlog"]
	path = fuzzing/projectFiles/8_spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "fuzzing/projectFiles/X_libqalculate"]
	path = fuzzing/projectFiles/X_libqalculate
	url = https://github.com/Qalculate/libqalculate.git
[submodule "fuzzing/tools/1_afl"]
	path = fuzzing/tools/1_afl
	url = https://github.com/google/AFL.git
[submodule "fuzzing/tools/2_mopt"]
	path = fuzzing/tools/2_mopt
	url = https://github.com/puppet-meteor/MOpt-AFL.git
